@font-face {
  font-family: 'PP Neue Montreal';
  src: url('assets/fonts/PPNeueMontreal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1C1C1C;
  color: #FFFFFF;
  font-family: 'PP Neue Montreal', Helvetica, Arial, sans-serif;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

ul > li > a > img {
  width: 18px;
  margin-right: 9px;
}

.w-100 {
  width: 100%;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opacity-30 {
  opacity: 30%;
}

.opacity-60 {
  opacity: 60%;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  width: 50%;
}

@media only screen and (max-device-width: 1024px) {
  #container {
    height: 95vh;
  }
  
  body {
    font-size: 16pt;
  }
  
  ul > li > a > img {
    width: 24px;
    margin-right: 9px;
  }

  main {
    width: 70%;
  }
}